.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 95%;
  margin: auto;
  flex-wrap: wrap;
  border-top: 2px solid #eaeaea;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.general, .more {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  min-width: 300px;
  align-items: flex-start;

}



.general p, .more p{
    margin: 0;
}

