.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
  padding: 0 1rem;
  background-color: #fff;
  height: 84px;
  color: #a3152d;

}

.nav {
  flex: 0.3;
}

.elements {
  flex: 0.7;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  list-style: none;
  /* gap: 1rem; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
  color: #a3152d;
}

.hover_items{
  padding: 0 1rem;
}

.main {
  position: relative;
  padding-top: 84px;
  flex: 1;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: #03be9f;
  border: 1px solid #03be9f;
  border-radius: 6px;
  color: #dafff7;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.btn:hover,
.btn:active {
  background-color: #02afa1;
  border-color: #02afa1;
}

.active {
  font-weight: bold;
  border-bottom: 5px solid #5e0023;
}


@media (max-width: 500px) {
  .header {
    display: none;
  }
}

/* hover_menu_code */
.menu_items {
  display: none;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2rem 20rem;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  color: #000;
  gap: 1rem;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  min-height: 10rem;
  color: #a3152d;

}

.hover_items {
  display: flex;
  cursor: pointer;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.hover_items:hover + .menu_items {
  display: flex;
}

.menu_items:hover {
  display: flex;
}
