.section {
  padding: 2rem;
}

.section h1 {
  color: #5e0023;
  font-size: 3rem;
  margin: 0;
}

.questions {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
  width: 100%;
  flex-wrap: wrap;
}

.question {
  color: #5e0023;
  width: 40%;
  border-bottom: 1px solid #5e0023;
  padding-bottom: 1rem;
}
