.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  border-top: 1px solid #eaeaea;
  text-align: center;
}

.filter{
    display: flex;
    gap: 3rem;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    width: 96%;
}

.select{
    height: 3rem;
    padding: 1rem;
    flex: 1;
    border-radius: 0.2rem;
}

.label{
    font-size: 1.5rem;
    flex: 1;


}

.district{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 2rem;
    text-align: start;
    flex: 1;

}


.section__sub {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 95%;
    margin: auto;
    margin-top: 5rem;
    gap: 1rem;
  }
  
  .card {
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #eaeaea;
    min-width: 300px;
  }
  
  .card:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }