.section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5e0023;
    color: #fff;
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
}

.section h3{
    flex: 0.7;
    text-align: center;

}

.section button {
    flex: 0.3;
    background-color: #a3152d;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem auto;
    border: 1px solid #fff;
  }
  
  .section button:hover {
    box-shadow: inset 0 0 10px #fff;
    cursor: pointer;
  }

  @media (max-width:800px){
      .section{
          flex-direction: column;
      }

      .section button{
          width: 90%;
          margin: auto;
      }
  }