.section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 5rem;
  flex-wrap: wrap;

}

.section p{
    line-height: 2rem;
}

.description {
  flex: 1;
  padding: 1rem;
}

.table__section {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  
}

.table tr th{
    text-align: start;
    background-color: #f6f6f6;
    padding: 0.3rem;

}
.table tr td{
    text-align: start;
    border-bottom: 2px solid #eee;
    padding: 0.3rem;

}


@media (max-width:800px){
    .section{
        flex-direction: column;
    }
}
