.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f6f6f6;
  padding: 5rem 0;
  margin: 3rem 0;

}

.section h1, .section h3 {
  color: #5f2300;
  font-size: 3rem;
  margin: 0.3rem;
}

.section h3{
    font-size: 1rem;
}

.section h3:hover{
    border-bottom: 1px solid #5f2300;
    cursor: pointer;
}


@media (max-width:500px){
    .section h1{
        font-size: 2rem;
    }

    .section {
        padding: 1rem;
        align-items: flex-start;

    }
}