.section {
  display: flex;
  flex-direction: column;
  padding: 0 0 1rem 0;
  /* box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); */
  border-radius: 0.5rem;
  overflow: hidden;
  height: 25rem;
  width: 30%;
}

.image {
  width: 100%;
}

@media (max-width: 500px) {
  .section {
    width: 100%;
  }

  .image {
    width: 100%;
  }
}

.section h1 {
  margin: 1rem 0;
}

.section p {
  margin: 0;
  line-height: 1.5rem;
}
