.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.section h1 {
  color: #5e0023;
  font-size: 3rem;
  text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 1rem auto;
}


.buttons button {
    flex: 0.3;
    background-color: #a3152d;
    color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem auto;
    border: 1px solid #fff;
  }
  
  .buttons button:hover {
    box-shadow: inset 0 0 10px #fff;
    cursor: pointer;
  }

  @media (max-width:800px){
      .buttons{
          flex-direction: column;
      }

      .buttons button{
          width: 100%;
      }
  }


